body {
    background: url('src/pics/Background.png') center/cover fixed no-repeat; opacity: 50;/* Replace 'your-image-url.jpg' with the actual URL or path to your image */
    height: 100vh;
    margin: 0;
    color: #ffffff; /* Change text color to white or any contrasting color */
    font-family: 'Segoe UI';
    background-color: black;
}

.banner {
    text-align: center;
}

.banner img {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

a {
    color: #ffffff; /* Change link color to white or any contrasting color */
}

hr {
    border: 3px solid #ffffff; /* Change hr border color to white or any contrasting color */
    margin: 20px 0;
}

::-webkit-scrollbar {
    width: 1px;
}
  
::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Change scrollbar thumb color to white or any contrasting color */
    width: 1px;
}
  
::-webkit-scrollbar-track {
    background-color: #000000; /* Change scrollbar track color to black or any other color */
    width: 1px;
}

* {
  scrollbar-color: #ffffff #000000; /* Change scrollbar color to match your design */
}
